.roster-segment {
	width: 100%;
	padding: 0 0 50px 0;

	&:last-of-type {
		padding: 0;
	}

	h2 {
		color: $green;
		font-size: 2.25em;
		text-transform: uppercase;
		padding: 0 0 20px 0;
	}
}

.player-list {

	.player {
		width: 48%;
		float: left;
		margin: 0 2% 20px 0;


		@include mobile-landscape {
			width: 32.3333%;
			margin: 0 1% 30px 0;

		}

		@include tablet-portrait {
			width: 24%;
		}

		@include tablet-landscape {
			width: 19%;
			margin: 0 1% 40px 0;
		}

		h4 {
			text-transform: uppercase;
			font-size: 1em;
			padding: 10px 0 0 0;
			text-align: center;

			@include mobile-landscape {
				font-size: 1.25em;
				padding: 15px 0 0 0;
			}
		}

	}

}